<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <title>Spring Boot Kotlin ThymeLeaf JPA</title>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Spring Boot Kotlin ThymeLeaf JPA SPA</a>
        </div>
        <ul class="navbar-nav nav">
            <li class="active"><a class="nav-item nav-link" href="#">Home</a></li>
        </ul>
    </div>
</nav>

<div class="alert-container container">
    <div th:text="${success}" th:class="(${success == null} ? 'hidden' : 'show') + ' alert alert-warning'"></div>
</div>

<div class="container" layout:fragment="content"/>



</body>

</html>
